<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SignIn SignOut App</title>
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/signUp.js"></script>
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a>
            </li>
            <li role="presentation"><a href="showSignIn">Sign In</a>
            </l>
          </ul>
        </nav>
      </div>
 
      <div class="jumbotron">
        <form action='/signUp' method="post">
        
        <label for="inputName">Name</label>
        <input name="inputName" id="inputName" placeholder="Name" required>
        
        <label for="inputSurname">Surname</label>
        <input name="inputSurname" id="inputSurname" placeholder="Surname" required>
        
        <label for="inputEmail">Email address</label>
        <input name="inputEmail" id="inputEmail" type="email" placeholder="Email address" required>
       
        <label for="inputPassword">Password</label>
        <input id="inputPassword" name="inputPassword" type="password" placeholder="Password" required>
         
        <button id="btnSignUp" type="button">Sign up</button>
      </form>
      </div>
    </div>
  </body>
</html>
