<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SignIn SignOut App</title>
    <script src="../static/js/jquery-1.11.2.js"></script>
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
            <ul>
                <li role="presentation" >
                    Ciao {{name}} {{surname}} hai visitato la pagina {{visit}} volte.
                </li>
                <li role="presentation" >
                    <a href="signOut">LogOut</a>
                </li>
            </ul>
        </nav>
    </div>
 
    </div>
  </body>
</html>
